[submodule "Sandbox/Library/spdlog"]
	path = Sandbox/Library/spdlog
	url = https://github.com/Clymiaru/spdlog.git
[submodule "Sandbox/Library/glm"]
	path = Sandbox/Library/glm
	url = https://github.com/g-truc/glm.git
